.about-me {
   @include container($max-width: 65rem);
   @include clearfix;

   padding: 5em 0;
}

.about-img {
   max-height: 25em;
}

.about-title {
   color: $dark-green;
   font-weight: $fw-b;
   text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
   font-size: 2.2rem;
   margin-bottom: .25em;
   margin-top: .25em;

   @include mq {
      font-size: 3.2rem;
   }
}

.about-subtitle {
   font-size: 1.5rem;
   margin: .5em 0;
}

@supports (display: grid) {
   .about-me {
      display: grid;
      gap: .75em;
      grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] 
         minmax(6em, 1fr) [img-end] 2fr [port-end];
   }

   .about-img {
      grid-column: port / img;
      grid-row: 1 / 2;
   }

   .about-title {
      grid-column: name / port;
      grid-row: 1 / 2;
      align-self: end;
   }

   .about-subtitle {
      text-align: center;
   }

   .about-subtitle,
   .about-text {
      grid-column: port / port;
   }
}