* {
   box-sizing: border-box;
}

body {
   color: $dark-green;
   font-family: $ff-r;
   line-height: 1.6;
   background: white;
   font-size: .95rem;
   overflow-x: hidden;

   @include mq{
      font-size: 1.125rem;
   }
}

img {
   max-width: 100%;
}

h1, h2, p {
   margin-top: 0;
   margin-bottom: 1em;
}

a:hover {
   color: initial;
}

h1 {
   color: $dark-green;
   line-height: 1;
   font-size: 3rem;
   letter-spacing: .3rem;

   @include mq {
      font-size: 3.5rem;
   }
}

h2 {
   @include sans-serif($fs: 2rem, $color: $dark-gray, $ls: .3em);

   @include mq {
      font-size: 3rem;
   }
}