.contact {
   @include container;
   padding: 5em 0;

   h1 {
      text-align: center;
   }
}

form {
   display: flex;
   flex-direction: column;
   gap: 2em;

   @supports (display: grid) {
      @include mq {
         display: grid;
         grid-template-areas: 
         "name    email"
         "message message"
         "   .    button"
         ;

         .name {
            grid-area: name;
         }

         .email {
            grid-area: email;
         }

         .message {
            grid-area: message;
            textarea {
               height: 12em;
            }
         }

         .button {
            grid-area: button;
         }
      }
   }
}

label {
   display: block;
   color: $dark-gray;
}

input, 
textarea {
   box-sizing: border-box;
   display: block;
   padding: .75em;
   font-size: 1.2rem;
   width: 100%;
   background: lighten($light-gray, 6%);
   border: 1px solid $light-gray;
   outline: none;
}

.button {
   display: inline-block;
   border-radius: 8px;
   width: auto;
   margin-top: .5em;
   padding: .35em 1.5em;
   background: $dark-green;
   border: none;
   @include sans-serif($fs: 2rem, $color:white);
   transition: all ease-out 200ms;

   &:hover {
      cursor: pointer;
      background: lighten($dark-green, 4%);
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, .7);
   }
}

#status {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60%;
   max-width: 500px;
   text-align: center;
   padding: 10px;
   margin: 0 auto;
   border-radius: 8px;
   font-size: 1rem;
   color: #fff;
}

#status.success {
   background-color: green;
   animation: status 4s ease forwards;
}

#status.error {
   background-color: red;
   animation: status 4s ease forwards;
}

@keyframes status {
   0%{
      opacity: 1;
      pointer-events: all;
   }
   90%{
      opacity: 1;
      pointer-events: all;
   }
   100%{
      opacity: 0;
      pointer-events: none;
   }
}