footer {
   background-color: $light-green;
   padding: 5em 0;
   text-align: center;
   color: $dark-green;

   @include mq {
      display: flex;
      padding: 2em 5em;
      align-items: center;

      p {
         margin: 0;
      }
   }
}

.social-icons {
   @include container($max-width: 15em);
   display: flex;
   justify-content: space-between;
   margin: 1.75em auto 4em;

   @include mq {
      margin: 0 auto 0 2em;
      padding-right: 4em;
   }
}

.social-icon { 
   width: 25%;
   height: 25%;
   opacity: 1;
   z-index: inherit;

   &:hover {
      opacity: .9;
   }
}

.copyright {

   @include mq {
      margin: 0;
   }
   &::before {
      content: '';
      display: block;
      height: 1px;
      background: rgba($dark-green, .2);
      margin: 4em auto;
      width: 25%;

      @include mq {
         display: none;
      }
   } 
}

/* Tooltip container */
.tooltip {
   position: relative;
   display: inline-block;
 }
 
 /* Tooltip text */
 .tooltip .tooltiptext {
   font-size: 1rem;
   visibility: hidden;
   width: 120px;
   background-color: white;
   border: 1px solid $gray;
   color: black;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;
  
   /* Position the tooltip text - see examples below! */
   position: absolute;
   bottom: 120%;
   left: 50%;
   margin-left: -60px;   
   z-index: 1;
 }
 
 /* Show the tooltip text when you mouse over the tooltip container */
 .tooltip:hover .tooltiptext {
   visibility: visible;
 }