.portfolio {
   text-align: center;
   background: $white;
   padding: 5em 0;
}

.portfolio-items {
   display: flex;
   flex-wrap: wrap;
   @include container($max-width: 65em)
}

.portfolio-item {
   position: relative;
   overflow: hidden;
   flex: 1 1 20rem;
   margin: 0;

   &.featured {
      .portfolio-title {
         font-size: 2.2rem;
      }

      .portfolio-link {
         font-size: 1.2rem;
      }

      .portfolio-desc {
         font-size: 1.05rem;
      }
   }

   img {
      display: block;
   }

   figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
      padding: 1em;
      background: rgba($black, .35);
      color: $white;
      text-align: left;
      display: flex;
      flex-direction: column;
      transition: opacity ease-in 250ms;
   }

   &:hover figcaption,
   &:focus figcaption {
      opacity: 1;
   }
}

.portfolio-title {
   color: $white;
   font-size: 1rem;
   margin-bottom: auto;
   letter-spacing: .1rem;
}

.portfolio-desc {
   display: none;
   font-size: .9rem;
}

.portfolio-link {
   color: $white;
   font-weight: $fw-b;
   font-size: 1rem;
   text-decoration: none;
   border-bottom: 2px solid $white;
   align-self: flex-start;

   &:hover {
      color: $white;
      opacity: .7;
   }

   .featured & {
      font-size: 1.1rem;
   }

   &::after {
      content: url(../img/arrow-white.svg);
      display: inline-block;
      height: .8em;
      width: .8em;
      margin-left: .5em;
   }
}

@supports (display: grid) {
   .portfolio-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: .2em;

      @include mq {
         grid-template-columns: repeat(4, 1fr);
         gap: .75em;
      }
   }

   .portfolio-item.featured {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
   }

   .featured {
      .portfolio-title {
         font-size: 2rem;
      }

      .portfolio-desc {
         display: block;
      }

      .portfolio-link {
         font-size: 1.1rem;
      }
   }
}

.portfolio-modal {
   position: fixed;
   z-index: 30;
   top: 2em;
   bottom: 2em;
   left: 2em;
   right: 2em;
   background: $white;
   box-shadow: 0 0 0 3em rgba(black, .5);
   overflow-y: scroll;
   overflow-x: hidden;

   display: none;

   &.is-open {
      display: block;
   }
}

.modal-close {
   position: fixed;
   top: 1.5em;
   left: 1.5em;
   width: 3em;
   height: 3em;
   border-radius: 1.5em;
   box-shadow: 0 0 .9em .3em rgba(black, .5);
   background: white;
   border: 0;
   outline: none;
   &:hover{
      cursor: pointer;
   }
}

.portfolio-header {
   text-align: left;
   padding: 5em 0;
   margin-bottom: 2em;
   background-size: cover;
   background-position: center;
}

.portfolio-pull-left,
.portfolio-pull-right {
   margin: 2em 0;
}

.header-one {
   background-image: url(../img/cozinha/cozinha_01.jpg);
}

.header-two {
   background-image: url(../img/banheiro/banheiro_01.jpg);
}

.header-three {
   background-image: url(../img/closet/closet_01.jpg);
}

.header-four {
   background-image: url(../img/infantil/infantil_01.jpg);
}

.header-five {
   background-image: url(../img/lavanderia/lavanderia_01.jpg);
}

.header-six {
   background-image: url(../img/documentos/documentos_01.jpg);
}

.header-seven {
   background-image: url(../img/mudanca/mudanca_01.jpg);
}

.portfolio-title-box {
   background: rgba($black, .35);
   padding: 3em 0 3em 3em;
   color: white;
   width: 70%;

   .portfolio-title {
      font-size: 1.5em;
      display: inline-block;

      &::after {
         content: '';
         display: block;
         height: 1px;
         margin: .5em 0;
         background: white;
         width: 100%;
      }
   }
}

.portfolio-subtitle {
   font-size: 1.1rem;
}

.portfolio-content {
   display: flex;
   flex-direction: column;
   gap: 15px;
   color: $black;
   text-align: left;
   width: 85%;
   margin: 0 auto;
   margin-top: 2em;
   padding-bottom: 2em;
}

@include mq {

   .portfolio-pull-left {
      width: 55%;
      float: left;
      margin-right: 2em;
   }
   .portfolio-pull-right {
      width: 55%;
      float: right;
      margin-left: 2em;
   }
}

@keyframes modalIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes modalOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}