.tips {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   padding: 4em 1.2em;
   width: 100vw;
   background: $light-green;

   iframe {
      max-width: 65em;
      outline: none;
   }
}

.lightwidget-widget-mobile {
   @include mq {
      display: none;
   }
}

.lightwidget-widget-mq {
   display: none;

   @include mq {
      display: block;
   }
}