.work {
   display: flex;
   flex-direction: column;
   padding: 5em;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   height: auto;
   max-width: 100vw;
   background: $light-green;

   .card {
      width: 310px;
      transform: translateX(-50%);
   }

   .carousel-inner {
      display: flex;
      justify-content: center;
      width: 80vw;
   }

   .carousel-control-prev {
      opacity: 1;

      &:hover {
         opacity: .8;
      }
   }

   .carousel-control-prev {
      opacity: 1;

      &:hover {
         opacity: .8;
      }
   }
   .carousel-control-next {
      opacity: 1;

      &:hover {
         opacity: .8;
      }
   }
}