@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');


$ff-r: 'Roboto', sans-serif;
$ff-a: 'Archivo', sans-serif;


$fw-l: 400;
$fw-n: 400;
$fw-b: 700;

@mixin sans-serif($fs, $ls: .15em, $color: $gray, $tt: uppercase, $lh: 1) {
   font-size: $fs;
   letter-spacing: $ls;
   color: $color;
   text-transform: $tt;
   line-height: $lh;
   font-weight: $fw-n;
   font-family: $ff-r;
}